body {
    background-color: tan;
}
html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

.header {
    text-align: center;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    border: 1px solid black;
}


#getImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dataContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
